<!doctype html>
<html>
  <head>
    <title>..</title>
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <div id="react-main-output">
      <%- reactOutput %>
    </div>
  </body>
</html>
