div.seven-card {
}

div.seven-left-view {
  width: 10%;
  float: left;
}

div.seven-right-view {
  width: 65%;
  float: left;
}

div.seven-suitrows {
}

div.seven-suitrow {
  width: 150px;
  height: 150px;
  border: 1px black solid;
  float: left;
  position: relative;
}

div.seven-suitrow-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

div.seven-my-hand {
  max-width: 650px;
}

img.seven.card {
  max-width: 70px;
  float: left;
}

.float-clear {
  clear: both;
}
