div.seven-card {
  z-index: 100;
}

div.seven-left-view {
  width: 10%;
  float: left;
}

div.seven-mid-view {
  width: 65%;
  float: left;
}

div.seven-right-view {
  width: 20%;
  float: left;
}

div.chat-box {
  margin-left: 10px;
  height: 400px;
  background-color: #ff0000;
  width: 100%;
}

div.chat-box > ul {
  height: 80%;
  background-color: #00ff00;
}


div.seven-suitrows {
}

div.seven-suitrow {
  width: 25%;
  height: 300px;
  border: 1px black solid;
  box-sizing: border-box;
  float: left;
  position: relative;
}

div.seven-suitrow-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

div.seven-my-hand {
  width: 100%;
}

div.seven-my-hand-cards-wrapper{
  max-width: 1000px;
}

img.seven.card {
  max-width: 10%;
  float: left;
}

.float-clear {
  clear: both;
}
div.chat-box > div.chat-message-wrapper {
  height: 90%;
  width: 100%;
  background-color: #ff00ff;
  overflow-y: auto;
}

div.chat-box > div.chat-message-wrapper > div.chat-message {
  border-bottom: 1px black solid;
  background-color: #ffffff;
  margin-top: 3px;
}


div.chat-box > .chat-input-box {
  height: 10%;
}

div.chat-box > .chat-input-box > input {
  height: 100%;
  width: 98%;
  border-width: 1%;
}
